<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用研展示-管理新增页</title>
    <link rel="stylesheet" href="http://image.yihaodianimg.com/mobile-ued/FFF/v0.1.2/style/base.css">
    <link rel="stylesheet" href="/css/ux.css">
</head>
<body>
<form id="projectForm"   class="W_uxContent">
    <ul>
        <li><span>项目名称：</span><input type="text" name="projectName" placeholder="请输入项目名字" required></li>
        <li><span>项目描述：</span><textarea name="description" placeholder="请输入项目描述" required></textarea></li>
        <li>
            <a id="J_selectFile">新增文件</a>
        </li>
    </ul>
    <button type="submit">确定</button>
    <a href="/admin">取消</a>
</form>


<script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="/js/resumable.js"></script>
<script>
    var r = new Resumable({
        target:'/file/upload',
        chunkSize:1*1024*1024,
        simultaneousUploads:8,
//        query:{
//            realName:'312421421412'
//        },
        testChunks:false,
        throttleProgressCallbacks:1
    });

    r.assignBrowse($('#J_selectFile')[0]);

    r.on('fileAdded', function(file){
        // Show progress pabr
        var tpl = '<div data-unique-identifier="'+file.uniqueIdentifier+'">'+file.fileName+'</div>';
        $('#J_selectFile').before(tpl);
        r.upload();
    });
    r.on('fileSuccess', function(file,message){
        // Reflect that the file upload has completed
        console.log('success',file,message);
    });
    r.on('fileError', function(file, message){
        console.log('error',file,message);

    });
</script>


<script>
    var $projectForm = $('#projectForm');


    $projectForm.on('submit', function(e) {
        e.preventDefault();
        var data = new FormData(this);
        $.ajax({
            method: "POST",
            url: "/addProject",
            contentType: false,
            processData: false,
            data: data
        }).done(function(msg) {
            window.location.href = '/admin';
        }).fail(function(msg) {
                alert(msg);
        });
    });
</script>
</body>
</html>