<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <title>用研展示-管理编辑页</title>
    <link rel="stylesheet" href="http://image.yihaodianimg.com/mobile-ued/FFF/v0.1.2/style/base.css">
    <link rel="stylesheet" href="/css/ux.css">
</head>
<body>
<!--[if lt IE 11]>
<p class="browseHappy">您使用的浏览器版本<strong>过老</strong>，请<a href="http://browsehappy.com/">使用最新的浏览器</a>来提升浏览体验。</p>
<![endif]-->

<header class="ux_head">
</header>

<form id="projectForm" class="W_uxContent W_uxContentAdd">
    <ul>
        <li>标题</li>
        <li>
            <input class="W_uxInput" type="text" name="projectName" value="<%=model.projectName%>" placeholder="请输入项目名字"
                   required>
        </li>
        <li>简介</li>
        <li>
            <textarea class="W_uxTextarea" name="description" placeholder="请输入项目描述"
                      required><%=model.description%></textarea>
        </li>
        <li>上传PDF文件</li>
        <% if (model.appendixList.length>0) { %>
            <% model.appendixList.forEach(function(el){%>
                <% if (el.type == 'pdf') { %>
                    <li><%=el.name%></li>
                <%}%>
            <%})%>
        <%}%>
        <li>
            <a href="javascript:;" class="W_uxBtnY W_ux144" id="J_selectPDF">上传PDF</a>
        </li>
        <li class="W_uxFlexBox">
            <span class="W_uxFlexItem W_uxFlexItem80">上传音频文件</span>
            <a href="javascript:;" class="W_uxCenter W_uxFlexItem" id="J_selectAudio">新增</a>
        </li>
        <% if (model.appendixList.length>0) { %>
            <% model.appendixList.forEach(function(el){%>
                <% if (el.type == 'audio') { %>
                <li><%=el.name%></li>
                <%}%>
            <%})%>
        <%}%>
        <li class="W_uxFlexBox">
            <span class="W_uxFlexItem W_uxFlexItem80">上传视频频文件</span>
            <a href="javascript:;" class="W_uxCenter W_uxFlexItem" id="J_selectVideo">新增</a>
        </li>
        <% if (model.appendixList.length>0) { %>
            <% model.appendixList.forEach(function(el){%>
                <% if (el.type == 'video') { %>
                <li><%=el.name%></li>
                <%}%>
            <%})%>
        <%}%>
        <li>
            <a href="/admin" class="W_uxBtnG W_ux183">取消</a>
            <button type="submit" class="W_uxBtnY W_ux183">提交</button>
        </li>
    </ul>
    <input type="hidden" name="uid" value="<%=model.id%>">
</form>


<script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="/js/resumable.js"></script>
<script>
    var selectPDF = new Resumable({
        target: '/file/upload',
        chunkSize: 10 * 1024 * 1024,
        simultaneousUploads: 8,
        query: {
            realType: 'pdf'
        },
        throttleProgressCallbacks: 1
    });

    selectPDF.assignBrowse($('#J_selectPDF')[0]);

    selectPDF.on('fileAdded', function (file) {
        // Show progress pabr
        var tpl = '<li class="W_uxFlexBox">' +
                '<div class="W_uxFileBox W_uxFlexBox W_uxFlexItem W_uxFlexItem80">' +
                '<span class="W_uxFlexItem W_uxFlexItem80">' + file.fileName + '</span>' +
                '<span class="W_uxProgressNum W_uxFlexItem">0%</span>' +
                '<div class="W_uxProgressBar"></div>' +
                '</div>' +
                '<a class="W_uxFlexItem W_uxCenter J_wxDelFile" href="javascript:;">删除</a>' +
                '</li>';
        $('#J_selectPDF').parents('li').before(tpl);
//        r.upload();
    });
    selectPDF.on('fileSuccess', function (file, message) {
        // Reflect that the file upload has completed
        console.log('success', file, message);
    });
    selectPDF.on('fileError', function (file, message) {
        console.log('error', file, message);

    });
</script>
<script>
    var selectAudio = new Resumable({
        target: '/file/upload',
        chunkSize: 10 * 1024 * 1024,
        simultaneousUploads: 8,
        query: {
            realType: 'pdf'
        },
        throttleProgressCallbacks: 1
    });

    selectAudio.assignBrowse($('#J_selectAudio')[0]);

    selectAudio.on('fileAdded', function (file) {
        // Show progress pabr
        var tpl = '<li class="W_uxFlexBox">' +
                '<div class="W_uxFileBox W_uxFlexBox W_uxFlexItem W_uxFlexItem80">' +
                '<span class="W_uxFlexItem W_uxFlexItem80">' + file.fileName + '</span>' +
                '<span class="W_uxProgressNum W_uxFlexItem">0%</span>' +
                '<div class="W_uxProgressBar"></div>' +
                '</div>' +
                '<a class="W_uxFlexItem W_uxCenter J_wxDelFile" href="javascript:;">删除</a>' +
                '</li>';
        $('#J_selectAudio').parents('li').after(tpl);
//        r.upload();
    });
    selectAudio.on('fileSuccess', function (file, message) {
        // Reflect that the file upload has completed
        console.log('success', file, message);
    });
    selectAudio.on('fileError', function (file, message) {
        console.log('error', file, message);

    });
</script>
<script>
    var selectVideo = new Resumable({
        auto: true,
        target: '/file/upload',
        chunkSize: 10 * 1024 * 1024,
        simultaneousUploads: 8,
        query: {
            realType: 'pdf'
        },
        throttleProgressCallbacks: 1
    });

    selectVideo.assignBrowse($('#J_selectVideo')[0]);

    selectVideo.on('fileAdded', function (file) {
        // Show progress pabr
        var tpl = '<li class="W_uxFlexBox">' +
                '<div class="W_uxFileBox W_uxFlexBox W_uxFlexItem W_uxFlexItem80">' +
                '<span class="W_uxFlexItem W_uxFlexItem80">' + file.fileName + '</span>' +
                '<span class="W_uxProgressNum W_uxFlexItem">0%</span>' +
                '<div class="W_uxProgressBar"></div>' +
                '</div>' +
                '<a class="W_uxFlexItem W_uxCenter J_wxDelFile" href="javascript:;">删除</a>' +
                '</li>';
        $('#J_selectVideo').parents('li').after(tpl);
//        r.upload();
    });
    selectVideo.on('fileSuccess', function (file, message) {
        // Reflect that the file upload has completed
        console.log('success', file, message);
    });
    selectVideo.on('fileError', function (file, message) {
        console.log('error', file, message);

    });
</script>
<script>
    var $projectForm = $('#projectForm');


    $projectForm.on('submit', function (e) {
        e.preventDefault();
        var data = new FormData(this);
        $.ajax({
            method: "POST",
            url: "/updateProject",
            contentType: false,
            processData: false,
            data: data
        }).done(function (msg) {
            window.location.href = '/admin';
        }).fail(function (msg) {
            alert(msg);
        });
    });
</script>
</body>
</html>