html {
    font-size: 100px;
}

body {
    font-size: 0.12rem;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 100px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.browseHappy {
    position: fixed;
    width: 100%;
    background-color: #FF0606;
    height: 30px;
    line-height: 30px;
}

.ux_head {
    width: 100%;
    height: 2.1rem;
    background-color: #f8f8f8;
    background-image: url(/images/mxc_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 226px 125px;
}

.W_uxContent{
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

.W_uxContent li{
    padding-top: 80px;
}

.W_uxHref{
    display: inline-block;
    width: 100%;
    color: #7d7d7d;
}
.W_uxTitle{
    font-size: 0.37rem;
    color: #535353;
    font-weight: normal;
}

.W_uxDate{
    font-size: 0.13rem;
    color: #c9c9c9;
}

.W_uxDescription{
    font-size: 0.16rem;
    color: #7d7d7d;
    font-weight: normal;
    padding: 20px 0 20px 0;
    line-height: 0.3rem;
}

.W_uxShow{
     position: relative;
    text-align: right;
    font-size: 0.13rem;
    color: #00a0e9;
}

.W_uxShow:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}

.W_uxShow span{
    display: inline-block;
    background-color: #ffffff;
    padding-left: 10px;
}

.W_uxNav{
    color: #7d7d7d;
    font-size: 0.16rem;
    line-height: 0.36rem;
    padding-bottom: 20px;
}
.W_uxNav a{
    color: #7d7d7d;
}

.W_uxFlexBox{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items:center;
}

.W_uxFlexItem{
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
    align-self: auto;
}

.W_uxFlexItem80{
    flex-basis: 70%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.W_uxFlexItem60{
    flex-basis: 50%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.W_uxPadding40{
    padding: 40px 0 40px 0;
}

li.W_uxFlexBox{
    position: relative;
    padding: 0;
}

li.W_uxFlexBox:after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}
.W_uxFlexItem a{
    font-size: 0.16rem;
    color: #00a0e9;
    padding-left: 10px;
}


.W_uxAdd{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 0.13rem;
}

.W_uxAdd:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}

.W_uxAdd img{
    display: inline-block;
    background-color: #ffffff;
    padding: 0 15px 0 15px;
}
li.W_uxAddBox{
    padding-top: 30px;
}

.W_uxContentAdd li{
    padding-top: 15px;
    font-size: 0.21rem;
    color: #535353;
}

input.W_uxInput{
    width: 100%;
    height: 50px;
    border: 1px solid #c9c9c9;
    text-indent: 20px;
}

textarea.W_uxTextarea{
    width: 100%;
    height: 220px;
    border: 1px solid #c9c9c9;
    text-indent: 20px;
}

.W_uxBtnY{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #f39800;
    font-size: 0.21rem;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.W_uxBtnG{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #a0a0a0;
    font-size: 0.21rem;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.W_ux144{
    width: 1.44rem;
}

.W_ux183{
    width: 1.83rem;
}

.W_uxFileBox{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #c9c9c9;
    text-indent: 20px;
    color: #959595;
    font-size: 0.16rem;
}
.W_uxProgressBar{
    position: absolute;
    height: 4px;
    background-color: #f39800;
    top: 47px;
    width:0;
    left: 0;
}
.W_uxProgressNum{
    text-align: center;
    color: #f39800;
}

.W_uxContent li{
    display: flex;
}

.W_uxContentAdd li.W_uxFlexBox:after{
    display: none;
}

.W_uxCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.W_uxNone{
    display: none;
}


.W_uxAudio{
    display: block;
}

.W_uxVideo{
    display: block;
    width: 100%;
}

.W_uxLabel {
    line-height: 0.3rem;
}
.W_uxpdfpreview{
    width: 100%;
    height: 50px;
    background-color: #c9c9c9;
    line-height: 50px;
    text-align: center;
    position: relative;
}

#prev{
    width: 20px;
    height: 16px;
    background: url("/images/xiangzuo.svg");
    background-size: cover;
    border: none;
    cursor: pointer;
}

#next{
    width: 20px;
    height: 16px;
    background: url("/images/xiangyou.svg");
    background-size: cover;
    border: none;
    cursor: pointer;

}
#quanping{
    width: 20px;
    height: 20px;
    background: url("/images/quanping.svg");
    background-size: cover;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}

.W_uxpdfdown{
    margin:10px 0 0 0;
}
@media screen and (max-width: 700px) {
    .W_uxContent{
        width: 80%;
    }
}

