html {
    font-size: 100px;
}

body {
    font-size: 0.12rem;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 100px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.browseHappy {
    position: fixed;
    width: 100%;
    background-color: #FF0606;
    height: 30px;
    line-height: 30px;
}

.ux_head {
    width: 100%;
    height: 2.1rem;
    background-color: #f8f8f8;
    background-image: url(/images/mxc_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 226px 125px;
}

.W_uxContent{
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

.W_uxContent li{
    padding-top: 80px;
}

.W_uxHref{
    color: #7d7d7d;
}
.W_uxTitle{
    font-size: 0.37rem;
    color: #535353;
    font-weight: normal;
}

.W_uxDate{
    font-size: 0.13rem;
    color: #c9c9c9;
}

.W_uxDescription{
    font-size: 0.16rem;
    color: #7d7d7d;
    font-weight: normal;
    padding: 20px 0 20px 0;
    line-height: 0.3rem;
}

.W_uxShow{
     position: relative;
    text-align: right;
    font-size: 0.13rem;
    color: #00a0e9;
}

.W_uxShow:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}

.W_uxShow span{
    display: inline-block;
    background-color: #ffffff;
    padding-left: 10px;
}

.W_uxNav{
    color: #7d7d7d;
    font-size: 0.16rem;
    line-height: 0.36rem;
    padding-bottom: 20px;
}
.W_uxNav a{
    color: #7d7d7d;
}

.W_uxFlexBox{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items:center;
}

.W_uxFlexItem{
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    flex: 1 0 auto;
    align-self: auto;
}

.W_uxFlexItem80{
    flex-basis: 70%;
    padding: 40px 0 40px 0;
}

li.W_uxFlexBox{
    position: relative;
    padding: 0;
}

li.W_uxFlexBox:after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}
.W_uxFlexItem a{
    font-size: 0.16rem;
    color: #00a0e9;
    padding-left: 10px;
}


.W_uxAdd{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 0.13rem;
}

.W_uxAdd:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #c9c9c9;
    z-index: -1;
}

.W_uxAdd img{
    display: inline-block;
    background-color: #ffffff;
    padding: 0 15px 0 15px;
}
li.W_uxAddBox{
    padding-top: 30px;
}


@media screen and (max-width: 700px) {
    .W_uxContent{
        width: 80%;
    }
}
